/*header*/
header {
	text-align: center;
	margin-top: 55px;
	width: -webkit-fit-content;
	width: -moz-fit-content;
	width: fit-content;
	margin-right: auto;
	margin-left: auto;
}

header h2 {
	text-align: right;
}

h1,h2 {
	color: #3d1a1b;
}
h1 {
	font-size: 3.125em;/*50px*/
	font-family: "Raleway";
}

h2 {
	font-size: 1.25em;/*20px*/
	line-height: 2em;
	font-family: "Brush Script Std";
}

/*nav*/
nav {
	display: -moz-box;
	display: -o-box;
	display: -webkit-box;
	display: box;
	-moz-box-orient: horizontal;
	-o-box-orient: horizontal;
	-webkit-box-orient: horizontal;
	box-orient: horizontal;
	-moz-box-align: center;
	-o-box-align: center;
	-webkit-box-align: center;
	box-align: center;
}

nav ul {
	font-size: 1.125em;/*18px*/
	counter-reset: list;
	padding: 20px 0;
}
nav li {
	float: left;	
	padding-right: 3.75em;/*60px*/
	counter-increment: list;
}
nav li:before {
	content: counter(list);
	float: left;
	width: 1.4em;
	height: 1.4em;
	border-radius: 0.7em;
	background-color: #3d1a1b;
	color: #fff;
	text-align: center;
}
nav li:last-child {
	margin-right: 0;
}
nav a {
	color: #3d1a1b;
	padding-left: 5px;
}
nav a:hover {
	text-decoration: underline;
}
nav form {
	-moz-box-flex: 1;
	-o-box-flex: 1;
	-webkit-box-flex: 1;
	box-flex: 1;
	text-align: right;
}
nav input[type=text] {
	text-indent: 8px;
	width: 14em;/*200px*/
	height: 30px;
	border: 2px solid #3d1a1b;
	border-radius: 5px;
	background: url(../images/search.svg) 95% no-repeat;
}

nav input[type=text]:focus {
	outline: none;
}


/*纸片*/
.page-one {
	width: 19em;
	margin-left: 9em;
}
.page-two {
	width: 25.8em;
}
.page-three {
	width: 18.125em;
}
.page-four {
	width: 25.625em;
}
.page-five {
	width: 14.25em;
}
.page-six {
	width: 31.75em;
}
.page-seven {
	width: 13.125em;
}
.page-eight {
	width: 13.5em;
}

/*图片大小*/
img[alt=pic1] {
	width: 16.19em;
	height: 14.94em;
}
img[alt=pic2] {
	width: 226px;
	height: 342px;
}
img[alt=pic3] {
	width: 216px;
	height: 360px;
}
img[alt=pic4] {
	width: 464px;
	height: 296px;
}
img[alt=pic5] {
	width: 300px;
	height: 380px;
}
img[alt=pic6] {
	width: 306px;
	height: 438px;
}
/*第一节*/

/*1*/

	
.article1-width {
	width: 37.5em;/*600px*/
}



/*2*/ 


/*3*/ 
