/*header*/
header {
	text-align: center;
	margin-top: 3.45em;
	width: -webkit-fit-content;
	width: -moz-fit-content;
	width: fit-content;
	margin-right: auto;
	margin-left: auto;
}

header h2 {
	text-align: right;
}

h1,h2 {
	color: #3d1a1b;
}
h1 {
	font-size: 3.125em;/*50px*/
	font-family: "Raleway";
}

h2 {
	font-size: 1.25em;/*20px*/
	line-height: 2em;
	font-family: "Brush Script Std";
}

/*nav*/
nav {
	display: -moz-box;
	display: -o-box;
	display: -webkit-box;
	display: box;
	-moz-box-orient: horizontal;
	-o-box-orient: horizontal;
	-webkit-box-orient: horizontal;
	box-orient: horizontal;
	-moz-box-align: center;
	-o-box-align: center;
	-webkit-box-align: center;
	box-align: center;
}

nav ul {
	font-size: 1.125em;/*18px*/
	counter-reset: list;
	padding: 1.25em 0;
}
nav li {
	float: left;	
	padding-right: 1.5em;/*3.75em60px*/
	counter-increment: list;
}
nav li:before {
	content: counter(list);
	float: left;
	width: 1.4em;
	height: 1.4em;
	border-radius: 0.7em;
	background-color: #3d1a1b;
	color: #fff;
	text-align: center;
}
nav li:last-child {
	margin-right: 0;
}
nav a {
	color: #3d1a1b;
	padding-left: 5px;
}
nav a:hover {
	text-decoration: underline;
}
nav form {
	-moz-box-flex: 1;
	-o-box-flex: 1;
	-webkit-box-flex: 1;
	box-flex: 1;
	text-align: right;
}
nav input[type=text] {
	text-indent: 8px;
	width: 12.5em;/*200px*/
	height: 30px;
	border: 2px solid #3d1a1b;
	border-radius: 5px;
	background: url(../images/search.svg) 95% no-repeat;
}

nav input[type=text]:focus {
	outline: none;
}

/*图片大小*/
img[alt=pic1] {
	-moz-transform: rotate(2deg);
	-o-transform: rotate(2deg);
	-webkit-transform: rotate(2deg);
	transform: rotate(2deg);
}
img[alt=pic2] {
	/*width: 14.125em;
	height: 21.375em;*/
	-moz-transform: rotate(-2deg);
	-o-transform: rotate(-2deg);
	-webkit-transform: rotate(-2deg);
	transform: rotate(-2deg);
}
img[alt=pic3] {
	/*width: 12.25em;
	height: 20em;*/
	-moz-transform: rotate(1deg);
	-o-transform: rotate(1deg);
	-webkit-transform: rotate(1deg);
	transform: rotate(1deg);
}
img[alt=pic4] {
	/*width: 21.75em;
	height: 11.875em;*/
	-moz-transform: rotate(-3deg);
	-o-transform: rotate(-3deg);
	-webkit-transform: rotate(-3deg);
	transform: rotate(-3deg);
}
img[alt=pic5] {
	/*width: 16em;
	height: 21.25em;*/
	-moz-transform: rotate(2deg);
	-o-transform: rotate(2deg);
	-webkit-transform: rotate(2deg);
	transform: rotate(2deg);
}
img[alt=pic6] {
	/*width: 17.8125em;
	height: 23.75em;*/
	-moz-transform: rotate(-1deg);
	-o-transform: rotate(-1deg);
	-webkit-transform: rotate(-1deg);
	transform: rotate(-1deg);-
}

/*第一节*/
.article1-width {
	/*width: 37.5em;*/
	width: 60%;
}

.article2-width {
	width: 555px;
}

.article3-width {
	width: 396px;
	height: 330px;
}

.section-small {
	padding: 20px 0 40px 0;
}

#tip {
	position: relative;
	margin-top: 40px;
	background-image: -moz-linear-gradient(rgba(61,26,27,0.5), rgba(61,26,27,0) 30px);
	background-image: -webkit-gradient(linear,0 0 , 0 60,
		from(rgba(61,26,27,0.5)), to(rgba(61,26,27,0))
		);
	padding: 1.2em;
	border-radius: 0.5em;
	box-shadow: 3px 3px 3px #ccc;
	text-shadow: 1px 1px 1px #999;
	word-wrap: break-word;
}
#tip:before {
	position: absolute;
	top: 0.5em;
	left: -2.5em;
	content: "";
	display: block;
	width: 0;
	height: 0;
	border: 1.25em solid transparent;
	border-right-color: rgba(61,26,27,0.2);
}
#tip:hover {
	top: -0.2em;
	left: -0.2em;
}

/*第二节*/
.article4-width {
	width: 522px;
} 

/*第三节*/
.article5-width {
	width: 652px;
}
#chapter3 aside {
	margin-right: auto;
	margin-left: auto;
}

/*第四节*/
.article6-width {
	width: 464px;
}


/*footer*/
footer{
	text-align: center;
	margin: 55px auto;
}


/*------------------*/
@media screen and (min-width: 1200px) {
	nav li {
		padding-right: 3.75em;
	}
}

@media screen and (max-width: 870px) {
	nav {
		-moz-box-orient: vertical;
		-o-box-orient: vertical;
		-webkit-box-orient: vertical;
		box-orient: vertical;
		-moz-box-align: stretch;
		-o-box-align: stretch;
		-webkit-box-align: stretch;
		box-align: stretch;
	}
	nav form {
		text-align: left;
	}
	nav input[type=text] {
		width: 100%;
	}
	nav li {
		width: 25%;
		padding: 0;
	}
	
}

@media screen and (max-width: 760px) {
	header h1 {
		font-size: 2.5em;
	}
	header h2 {
		font-size: 1em;
	}
	
	
}
@media screen and (max-width: 630px) {
	nav li {
		width: 50%;
		padding-bottom: 0.5em;
	}
}

@media screen and (max-width: 550px) {
	header h1 {
		font-size: 1.8em;
	}
	header h2 {
		font-size: 0.8em;
	}
}

@media screen and (max-width: 400px) {
	header h1 {
		font-size: 1.5em;
	}
	header h2 {
		font-size: 0.5em;
	}
	nav li {
		width: 100%;
	}
}